<section id="loisirs" class="loisirs">
    <div class="container">
      <h2 class="section-title">Mes Loisirs</h2>
      <p>En dehors de mon travail, voici quelques-unes de mes passions :</p>
      <ul class="loisirs-list">
        <li><img src="assets/sport.jpg" alt="Sport" class="loisir-image"> Sport</li>
        <li><img src="assets/voyage.jpg" alt="Voyages" class="loisir-image"> Voyages</li>
        <li><img src="assets/musique.jpg" alt="Musique" class="loisir-image"> Musique</li>
        <li><img src="assets/lecture.jpg" alt="Lecture" class="loisir-image"> Lecture</li>
      </ul>
    </div>
</section>
