body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e50; /* Même couleur que le footer */
    padding: 15px 30px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo des initiales */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo .initials {
    font-size: 2.5rem; /* Taille importante pour attirer l’attention */
    font-weight: bold;
    color: #3498db; /* Couleur bleu clair pour contraster avec le fond sombre */
    font-family: 'Arial', sans-serif; /* Police moderne */
    text-transform: uppercase;
    letter-spacing: 3px; /* Espacement entre les lettres */
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Légère ombre */
  }
  
  /* Navigation */
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #3498db; /* Bleu clair */
  }
  
  
  main {
    margin-top: 80px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }