<header class="header">
  <div class="logo">
    <span class="initials">FJ</span>
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav [ngClass]="{ 'active': isMenuOpen }" class="nav-menu">
    <ul>
      <li><a href="#about" (click)="closeMenu()">À propos</a></li>
      <li><a href="#skills" (click)="closeMenu()">Compétences</a></li>
      <li><a href="#experiences" (click)="closeMenu()">Experiences</a></li>
      <li><a href="#projects" (click)="closeMenu()">Projets</a></li>
      <li><a href="#loisirs" (click)="closeMenu()">Loisirs</a></li>
      <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
    </ul>
  </nav>
</header>
