.projects {
    background-color: #f0f4f8;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;  /* Cela assure que la section occupe toute la hauteur de l'écran */
  }
  
  .projects h2 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajuste la taille des colonnes */
    gap: 30px;
    justify-items: center; /* Centre les cartes horizontalement */
    align-items: center; /* Centre les cartes verticalement */
    max-width: 1200px; /* Assure que les cartes ne prennent pas trop de place sur les grands écrans */
    width: 100%;
  }
  
  .project-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 300px;
    width: 100%;
    cursor: pointer;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .project-card .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover .logo {
    transform: scale(1.1);
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .project-link {
    text-decoration: none;
    color: #48cae4;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease-in-out;
  }
  
  .project-link:hover {
    color: #00aaff;
  }
  