<header>
  <div class="logo">
    <span class="initials">FJ</span>
  </div>
  <nav>
    <ul>
      <li><a href="#about">À propos</a></li>
      <li><a href="#skills">Compétences</a></li>
      <li><a href="#experiences">Experiences</a></li>
      <li><a href="#projects">Projets</a></li>
      <li><a href="#loisirs">Loisirs</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<section id="home" class="home">
  <div class="container">
    <h2>Bienvenue sur mon Portfolio</h2>
    <p>Consultant fonctionnel | Développeur Fullstack | DevOps</p>
    <img src="assets/portait.jpg" alt="Image de présentation" class="hero-image">
  </div>
</section>

<section id="about" class="about-section">
  <div class="container">
    <h2 class="section-title">À propos de moi</h2>
    <div class="about-content">
      <!-- Texte de la section -->
      <div class="about-text">
        <p>
          Je suis un ingénieur en informatique, <strong>développeur passionné</strong> spécialisé dans le développement web et d'applications.
          Avec plusieurs années d'expérience, j'ai travaillé sur divers projets qui m'ont permis de perfectionner mes compétences en frontend,
          backend et DevOps.
        </p>
        <p>
          Mon objectif est de créer des applications performantes et intuitives qui offrent une expérience utilisateur exceptionnelle.
          Je suis constamment à la recherche de nouveaux défis pour continuer à apprendre et à innover.
        </p>
        <p>
          En dehors du travail, je suis passionné par la <strong>technologie</strong>, le <strong>design</strong>, et j'adore explorer de
          nouvelles idées qui améliorent notre quotidien.
        </p>
      </div>
      
      <!-- Image de la section -->
      <div class="about-image">
        <img src="assets/diplome-portfolio.jpg" alt="À propos de moi">
      </div>
    </div>

    <!-- Icônes supplémentaires -->
    <div class="about-icons">
      <div class="icon">
        <i class="fas fa-laptop-code"></i> <!-- Icône de développement -->
      </div>
      <div class="icon">
        <i class="fas fa-lightbulb"></i> <!-- Icône d'idées -->
      </div>
      <div class="icon">
        <i class="fas fa-cogs"></i> <!-- Icône technique -->
      </div>
    </div>
  </div>
</section>

<section id="skills" class="skills">
  <div class="container">
    <h2 class="section-title">Mes Compétences</h2>
    <div class="skills-content">
      <!-- Compétences Fonctionnelles -->
      <div class="skill-category">
        <h3>Compétences Fonctionnelles</h3>
        <div class="skill">
          <div class="skill-name">Gestion de projet <span>60%</span></div>
          <div class="skill-bar"><span data-skill="60"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">Communication <span>100%</span></div>
          <div class="skill-bar"><span data-skill="100"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">Analyse de données <span>80%</span></div>
          <div class="skill-bar"><span data-skill="80"></span></div>
        </div>
      </div>

      <!-- Compétences Backend -->
      <div class="skill-category">
        <h3>Compétences Backend</h3>
        <div class="skill">
          <div class="skill-name">Node.js <span>40%</span></div>
          <div class="skill-bar"><span data-skill="40"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">Java (Spring Boot) <span>70%</span></div>
          <div class="skill-bar"><span data-skill="70"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">Python <span>40%</span></div>
          <div class="skill-bar"><span data-skill="40"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">PHP (Symfony) <span>40%</span></div>
          <div class="skill-bar"><span data-skill="40"></span></div>
        </div>
      </div>

      <!-- Compétences Frontend -->
      <div class="skill-category">
        <h3>Compétences Frontend</h3>
        <div class="skill">
          <div class="skill-name">HTML/CSS <span>100%</span></div>
          <div class="skill-bar"><span data-skill="100"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">Angular <span>50%</span></div>
          <div class="skill-bar"><span data-skill="50"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">React <span>40%</span></div>
          <div class="skill-bar"><span data-skill="40"></span></div>
        </div>
      </div>

      <!-- Compétences DevOps -->
      <div class="skill-category">
        <h3>Compétences DevOps</h3>
        <div class="skill">
          <div class="skill-name">Docker <span>60%</span></div>
          <div class="skill-bar"><span data-skill="60"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">CI/CD (Jenkins, GitLab) <span>60%</span></div>
          <div class="skill-bar"><span data-skill="60"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">Kubernetes <span>40%</span></div>
          <div class="skill-bar"><span data-skill="40"></span></div>
        </div>
        <div class="skill">
          <div class="skill-name">AWS <span>40%</span></div>
          <div class="skill-bar"><span data-skill="40"></span></div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="experiences" class="experience-section">
  <h2 class="section-title">Mes Expériences</h2>
  <div class="carousel">
    <div class="card">
      <h3>{{ experiences[currentIndex].title }}</h3>
      <p>{{ experiences[currentIndex].company }}</p>
      <p>{{ experiences[currentIndex].date }}</p>
      <h4>Projet Principal :</h4><h6> {{ experiences[currentIndex].projectTitle }}</h6>
      <ul>
        <li *ngFor="let task of experiences[currentIndex].tasks">{{ task }}</li>
      </ul>
      <p><strong>Environnement technique :</strong></p>
      <p>{{ experiences[currentIndex].envTechnique.join(' - ') }}</p>
      
    </div>
    <div class="carousel-buttons">
      <button (click)="prevSlide()" [disabled]="currentIndex === 0">Précédent</button>
      <button (click)="nextSlide()" [disabled]="currentIndex === experiences.length - 1">Suivant</button>
    </div>
  </div>
</section>

<section id="projects" class="projects">
  <div class="container">
    <h2 class="section-title">Mes Projets</h2>
    <div class="project-cards">
      <div class="project-card" *ngFor="let project of projects">
        <img class="logo" [src]="project.image" alt="Image du projet">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <a [href]="project.link" target="_blank" class="project-link">Voir le projet</a>
      </div>
    </div>
  </div>
</section>

<section id="loisirs" class="loisirs">
  <div class="container">
    <h2 class="section-title">Mes Loisirs</h2>
    <p>En dehors de mon travail, voici quelques-unes de mes passions :</p>
    <ul class="loisirs-list">
      <li><img src="assets/sport.jpg" alt="Sport" class="loisir-image"> Sport</li>
      <li><img src="assets/voyage.jpg" alt="Voyages" class="loisir-image"> Voyages</li>
      <li><img src="assets/musique.jpg" alt="Musique" class="loisir-image"> Musique</li>
      <li><img src="assets/lecture.jpg" alt="Lecture" class="loisir-image"> Lecture</li>
    </ul>
  </div>
</section>

<section id="contact" class="contact">
  <div class="container">
    <h2 class="section-title">Contactez-moi</h2>
    <form >
      <div class="form-group">
        <label for="name">Nom</label>
        <input id="name" type="text" class="form-control" name="name" >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" class="form-control" name="email"  required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" class="form-control" name="message"  required></textarea>
      </div>
      <button type="submit" class="contact-button">Envoyer</button>
    </form>
  </div>
</section>
<footer>
  <div class="footer-content">
    <div class="social-icons">
      <a href="www.linkedin.com/in/eric-joel-fodjo-tchuenté-254890200" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/lePeintr" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Mon Portfolio | Tous droits réservés.</p>
  </div>
</footer>
<router-outlet></router-outlet>